{% extends 'shop/basic.html' %}

{% block title %}{{product.product_name}}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4" style = " margin-top:20px ">
            <img src="/media/{{product.image}}" width="300px" height="300px">
            <div class="row mx-4" style = " margin-top:20px ">
                <button class="btn btn-primary mx-2">Buy Now</button>
                <button class="btn btn-primary">Add To Cart</button>
            </div>
        </div>
        <div class="col-md-8" style = " margin-top:35px " >
            <h5><strong>{{product.product_name}}</strong></h5>
            <p><strong>Rs. {{product.price}}</strong></p>
            <p> {{product.desc}}</p>
        </div>
    </div>
</div>
{% endblock %}

